<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <title>Login</title>

</head>
<body>
    <div class = "container">
        <div class = "Logo">
            <div class = "image">
                <img src="../../images/Logo.svg" alt="Logo" class="logo_svg">
            </div>
        </div>
        
        <div class = "loginform">
                <form>
                    <input type = "text" class = "mail" placeholder="E-mail">
                    <input type = "password" class = "password" placeholder="Password">
                    <button class="log_in"> Log in </button>
                    <button class="sign_in"> Sign in </button>
                    <div class = "or">
                        <div></div>
                        <p>Or</p>
                        <div></div>
                    </div>
                </form>
        </div>
    </div>
</body>
</html>