.container {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(139.92% 63.2% at 100% 18.33%, #6930BE 0.03%, #7A3AB6 29.48%, #A62EB9 80.52%);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template: 100vh/50vw 50vw; 
    margin: 0;
}

.Logo{
    padding-top: 15%;
    padding-left: 12%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.logo_svg{
    height: auto;
    width: 38vw;
}


.loginform{
    display: grid;
    width: 100%;
    padding-left: 8%;
    padding-top: 40vh;
    box-sizing: border-box;
}

form{
    display: grid;
    width: 40vw;
    height: 80%;
    grid-template: 6% 12% 6% 12% 10% 15% 5% 8% 5% 15% /10% 17.5% 45% 17.5% 10%;
    border: 2px solid #41434B;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 22px;
}

.mail, .password{
    background: rgba(196, 196, 196, 0.5);
    border: 1.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vmax;
    opacity: 100;
    padding-left: 5%;
    box-sizing: border-box;
}

.mail{
    grid-row: 2;
}

.password{
    grid-row: 4;
}


.log_in, .sign_in{
    background: #000000;
    border: none;
    box-sizing: border-box;
    border-radius: 266px;
    grid-column: 3;
    color: white;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 2vmax;
}

.log_in{
    grid-row: 6;
    
}

.sign_in{
    grid-row: 10;
}

.or{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-row: 8;
    grid-column: 3;
}

.or>p{
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vmax;
}

.or>div{
    width: 30%; 
    height: 2.5px; 
    background-color:black
}

body{
    margin: 0;
}


@media only screen and (max-aspect-ratio: 5/6){
    
    .container{
        display: grid;
        grid-template: 30vh 70vh/ 100vw; 
    }

    .loginform{
        padding-top: 0vh;
        padding-left: 0vw;
    }

    form{
        border: none;
        box-shadow: none;
        width: 100vw;
        height: 90%;
        grid-template: 5% 9% 12% 9% 14% 10% 6% 8% 6% 10% /7% 17.5% 51% 17.5% 7%;
    }
    .Logo{
        padding-left: 12vw;
    }
    .logo_svg{
        width: 76vw;
    }
}